*{
    margin: 0%;
}
.header{
    background-color: rgb(245, 180, 207);
    color:rgb(106, 57, 57);
    padding: 40px;
}
h1,li,ul{
    display: inline;
}
ul{
    margin-left: 60%;
}

li{
    color:gray;
}

li:hover{
    color:white;
    cursor: pointer;
}

input{
    width:70%;
    padding: 20px;
    
}

.searchbox{
    padding: 40px;
    text-align: center;
}

.pictures{
    border-color: black;
    border-width: 2px;
    border-style: solid;
    display: inline-block;
    width: 200px;
    margin-left: 30px;
}

.photo{
    text-align: center;
}